iframe {
  display: none;
}

html {
  background-color: #e70e02;
}

body {
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  background-color: #03045E;
  border-radius: 10px;
}

@import "./todoapp";
@import "./todo";
@import "./filter";
@import "./message";